@import "../style-utils//mixins.scss";

.layout {
    max-width: 850px;
    padding: 40px 0 0;
    min-height: calc(100vh - 162px);
    margin: 0 auto;
    font-family: 'Helvetica Neue', 'Arial', sans-serif
}

@include mobile {
    .layout {
        padding: 30px 35px;
        min-height: 100vh;
    }
}

* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    overflow: hidden;
}