@import '../style-utils/variables';

.container {
    height: 100vh;

    .container-header {
        .header {
            font-size: $header-font-size;
            margin-bottom: 0;
        }

        span {
            font-size: 20px;
            color: #a5a5a5;
        }
    }

    &-description {
        margin-top: 30px;
        font-size: $description-font-size;

        p {
            line-height: 21px;
        }

        a {
            font-weight: 500;
            color:  #F08080;
            text-decoration: none;
            
            &:hover {
                opacity: 0.7;
            }
        }
    }

    .icons-container {
        .icon {
            width: 28px;
            height: 28px;
    
            &:first-child {
                margin-right: 15px;
            }

            &:hover {
                opacity: 0.8;
            }
        }

    }
}