// repo card
$repo-title: rgb(3, 102, 214); 
$js: rgb(241, 224, 90);
$ts: rgb(43, 116, 137);
$description: rgb(36, 41, 46);
$subText: rgb(88, 96, 105);

// typography

$header-font-size: 46px;
$description-font-size: 21px;
$pink: #F08080;

